.edit-profile {
    padding: 1.5em 2em;
    max-width: 25%;
    margin: 4em auto;
    background-color: #F8FAFC;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.edit-profile h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.edit-profile h1 span {
    color: #405F8F;
}

.edit-profile .subtitle {
    font-weight: bold;
    color: #bebebe;
    margin-bottom: 2em;
    text-align: center;
}

.edit-profile form {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.form-group {
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.4em;
    font-weight: 600;
    color: #333;
    font-size: 0.95em;
}

.edit-profile input[type="text"],
.edit-profile input[type="email"],
.edit-profile input[type="password"],
.edit-profile input[type="file"] {
    padding: 0.8em;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #000;
    font-size: 1em;
    transition: 0.3s;
}

.edit-profile input:focus {
    outline: none;
    border-color: #405F8F;
}

input[type="submit"].btn-submit {
    background-color: #405F8F;
    color: #fff;
    padding: 0.8em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 1em;
    transition: all 0.3s ease;
    margin-top: 0.5em;
}

input[type="submit"].btn-submit:hover {
    background-color: #30476d;
}