body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F8FAFC;
}

a {
  color: #262D35;
  text-decoration: none;
  font-weight: bold;
}

.active {
  /* font-weight: bold; */
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: #aaa;
  font-size: .7em;
}

input {
  background-color: #F8FAFC;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 10px 8px;
  outline: none;
  margin-bottom: .6em;
}

input::placeholder {
  color: #aaa;
  font-weight: bold;
}

.btn,
button,
input[type="submit"] {
  background-color: #557CA3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  transition: all .3s ease;
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
}

button:hover,
input[type="submit"]:hover {
  background-color: #405f8f;
}

.cancel-btn {
  background-color: #ccc;
}

.hide {
  display: none;
}